%h1.page-header
  = get_content_by_name("contacts_page_h1_tag")
  %br
  %small 
    = get_content_by_name("contacts_page_h2_tag") 
%h3 Contacts:
%h5 
  = "tel: #{get_content_by_name("company_phone_number")}"
%h5 
  = "email: #{get_content_by_name("company_email_address")}"
%hr
%p 
  = get_content_by_name("contacts_page_description")
- if true 
  .col-lg-12.col-md-12.col-sm-12.col-xs-12
    %h3.text-center Queens Location
    %p.map-images
      %iframe{:width=>"100%", :height=>"600", :align => "center" ,:frameborder=>"0" ,:style=>"border:0", :src=>"https://www.google.com/maps/embed/v1/place?q=119-16%20Jamaica%20Ave%20Queens%2C%20New%20York%2C%20NY%2C%20United%20States&key=AIzaSyAG1JHhDDpKIublp2o1A107YHnRFEGQa7E"}
- if false
  .col-lg-12.col-md-12.col-sm-12.col-xs-12
    %h3.text-center Queens Location 
    %p.map-images
      %iframe{:width=>"100%", :height=>"600" , :align => "center" , :frameborder=>"0" ,:style=>"border:0", :src=>"https://www.google.com/maps/embed/v1/place?q=8710%20Lefferts%20Blvd%2C%20Richmond%20Hill%2C%20NY%2C%20United%20States&key=AIzaSyAG1JHhDDpKIublp2o1A107YHnRFEGQa7E"}
%br
%hr
%h3.text-center We are open every day from 10 am till 6 pm      