%table.table.table-striped.table-bordered
  %tr
    %th
      = "Element"
    %th
      = "Effect on Value"
    %th
      = "Description"
  %tr
    %td
      = "Size"
    %td
      = "Refers to the carat weight. The larger the stone the better, when it comes to resale value."
    %td
      = "The closer you are to a weight threshold, i.e. 0.50 cts or 1.00 cts, the better the cut needs to be. Once you pass a magic size, the price per carat increases. For example, a 1.00 ct stone is worth approximately 15-20% more per carat than a 0.90 ct stone."
  %tr
    %td
      = "Shape"
    %td
      = "The contours and outlines of a diamond have a significant impact on its appearance. Rounds are more valuable than fancy shapes such as: cushions, princess cuts, radiants and asschers."
    %td
      = "Fashion dictates the popularity and therefore the value of a particular shape."
  %tr
    %td
      = "Color"
    %td
      = "A diamond’s color grade is based on its depth of color, and ranges from D-Z, with D being the most valuable color."
    %td
      = "Fancy colors are even more valuable than D color with reds, blues and greens being the rarest and therefore the most sought after."
  %tr
    %td
      = "Clarity"
    %td
      = "Refers to the absence of inclusions and blemishes. The more clarity characteristics (inclusions) a diamond has, the lower it will score on the clarity grade and the lower the value."
    %td
      = "Does the diamond look clear to the naked eye or not? Imperfections may not be visible to the naked eye, however if they are, this represents a significant inclusion."   
  %tr
    %td
      = "Fluorescence"
    %td
      = "The light emitted by diamonds when exposed to ultraviolet light."
    %td
      = "Fluorescence can actually be moderately positive for the value of diamonds with I or lower color. Diamonds with Very Strong Blue Fluorescence typically fetch 30% less than stones with no fluorescence."  
  %tr
    %td
      = "Cut"
    %td
      = "A diamond’s cut grade refers to how well a diamond’s facets interact with light. The cut impacts a diamond’s brilliance and sparkle."
    %td
      = "Only rounds are given cut grades by the GIA."
  %tr
    %td
      = "Polish"
    %td
      = "Refers to the overall smoothness and condition of the facets or surface of the diamond."
    %td
      = "A triple EX grade (i.e. EX cut, EX polish and EX symmetry) is generally worth 7-10% more than a triple VG grade."
  %tr
    %td
      = "Symmetry"
    %td
      = "Symmetry refers to the exactness of shape, overall outline, placement and alignment of individual facets."
    %td
      = "The more symmetrical the stone, the higher the price it can reach." 
      